<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>user registration</title>
<link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
<div class="cont">
<h2>Register</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label>Name:</label>
        <input type="text" th:field="*{name}" required>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required>
        <button type="submit">Register</button>
    </form>
    </div>

</body>
</html>