@charset "UTF-8";
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            text-align: center;
        }

        h1 {
            font-size: 36px;
            color: #003366; 
            margin-top: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        h2 {
            font-size: 24px;
            color: #555555;
            margin-top: 10px;
            font-weight: normal;
        }

        img {
            margin-top: 20px;
            width: 300px;
            height: auto;
            border-radius: 10px;
            border: 2px solid #003366; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        a {
    text-decoration: none;
    color: #007BFF; 
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    padding: 10px 20px; 
    border: 1px solid #007BFF; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
    display: inline-block; 
  	}

 
  	a + br + br {
    margin-bottom: 10px;
  	}

 
  a:hover {
    background-color: #007BFF; 
    color: white; 
  }